@{
    ViewData["Title"] = "Durak Online";
}

<div id="durak-root" class="durak-page"></div>

@section Scripts {
    <script type="module" src="~/js/durak-ui.js" asp-append-version="true"></script>
}
