@model GameSite.Models.ApplicationUser
@{
    ViewData["Title"] = "Game";
}

<div class="d-flex justify-content-center py-5">
    <a asp-action="DurakOnline" class="card--durak">
        <span>Дурак онлайн</span>
    </a>
</div>
